<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <style>
            *{ 
                box-sizing: border-box; 
                margin: 0;
            }
            body{
                font-family: helvetica, sans-serif;
                font-size: 1rem;
                background-color: #272822;
                color: #dadada;
                line-height: 1.6;
            }
            h1, h2{
                color: #f8f8f2;
                line-height: 1.4;
            }
            h2{
                margin-bottom: 1.175em;
            }
            a{
                text-decoration: none;
                color: #1ae357;
            }
            a:hover{
                color: #44CF6E;
            }
            main{
                margin-inline: auto;
                margin-block-start: 30px;
                width: 600px;
            }
        </style>
    </head>
    <body>
    <main>